<footer class="text-gray-600 body-font border-t-1 border-secondary">
    <div class="container px-5 py-10 md:py-2 mx-auto flex flex-row justify-center items-center sm:flex-row flex-col">
      <div class="flex flex-row py-5 justify-center items-center">
        <figure>
            <img class="rounded-md" width="80" src="/images/logo.png" alt="Logo de la pagina web, contiene el nombre, la leyenda y una iimagen de huella">
            
        </figure>
        <span class="ml-3 mt-1 items-center text-xl text-secondary-light">© 2025 Dromascotas - Creado por Mauricio Castro </span>
      </div>
      
      <!--div class="flex flex-col text-center py-5">
        <span class="text-secondary-light">Visita nuestras redes sociales</span>
        <span class="flex justify-between mt-3 justify-center">
            <a href="https://www.instagram.com/dromascotas_veterinaria?igsh=MTY0bHVzM2Q4anZiZQ==" class="text-secondary">
                <i class="fa fa-instagram " style="font-size:32px"></i>
            </a>
            <a href="https://facebook.com/DROMASCOTASPETS1/" class="ml-3 text-secondary">
                <i class="fa fa-facebook-square" style="font-size:32px"></i>
            </a>
        </span>
      </div-->
      
    </div>
  </footer>