<header class="bg-gray-100 bg-primary px-5 py-2 border-header">
    <div class="flex items-center justify-between">
        <!-- Logo y Nombre -->
        <div class="flex items-center">
            <figure>
                <img class="rounded-md" width="60" src="/images/logo.png" alt="Logo de la pagina web, contiene el nombre, la leyenda y una iimagen de huella">
            </figure>
            <h4 class="ml-3 text-3xl font-bold text-secondary">Dromascotas</h4>
        </div>

        <!-- Menú de Navegación -->
        <nav> 
            <ul class="flex flex-row gap-3 md:gap-5 p-5 md:p-0">
                <li class="flex items-center">
                    <a 
                        title="Instagram"
                        class="text-secondary text-lg font-semibold hover:text-secondary-light" 
                        href="https://www.instagram.com/dromascotas_veterinaria?igsh=MTY0bHVzM2Q4anZiZQ==">
                        <i class="fa fa-instagram ml-2" style="font-size:36px"></i>
                    </a>
                </li>
                <li class="flex items-center">
                    <a 
                        title="Facebook"
                        class="text-secondary text-lg font-semibold hover:text-secondaryy-light" 
                        href="https://facebook.com/DROMASCOTASPETS1/">
                        <i class="fa fa-facebook-square ml-2" style="font-size:36px"></i>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</header>
