<section class="text-gray-600 body-font">
    <div class="flex flex-col text-center w-full">
        <h2 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-secondary">Nuestra tienda</h2>
        <p class="text-secondary-light">Mira lo que puedes encontrar en nuestra tienda física, puedes preguntar por lo que quieras.</p>
        <span class="inline-block h-1 w-20 rounded mx-auto bg-secondary-light mt-8 mb-6"></span>
    </div>
    <div class="container px-5 pt-4 pb-10 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/420x260">
          </a>
          <div class="mt-4">
            <h2 class="text-secondary title-font text-lg font-medium">The Catalyzer</h2>
            <p class="mt-1 text-secondary-light">$16.00</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/421x261">
          </a>
          <div class="mt-4">
            <h2 class="text-secondary title-font text-lg font-medium">Shooting Stars</h2>
            <p class="mt-1 text-secondary-light">$21.15</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/422x262">
          </a>
          <div class="mt-4">
            <h2 class="text-secondary title-font text-lg font-medium">Neptune</h2>
            <p class="mt-1 text-secondary-light">$12.00</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/423x263">
          </a>
          <div class="mt-4">
            <h2 class="text-secondary title-font text-lg font-medium">The 400 Blows</h2>
            <p class="mt-1 text-secondary-light">$18.40</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a class="block relative h-48 rounded overflow-hidden">
              <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/420x260">
            </a>
            <div class="mt-4">
              <h2 class="text-secondary title-font text-lg font-medium">The Catalyzer</h2>
              <p class="mt-1 text-secondary-light">$16.00</p>
            </div>
          </div>
          <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a class="block relative h-48 rounded overflow-hidden">
              <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/421x261">
            </a>
            <div class="mt-4">
              <h2 class="text-secondary title-font text-lg font-medium">Shooting Stars</h2>
              <p class="mt-1 text-secondary-light">$21.15</p>
            </div>
          </div>
          <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a class="block relative h-48 rounded overflow-hidden">
              <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/422x262">
            </a>
            <div class="mt-4">
              <h2 class="text-secondary title-font text-lg font-medium">Neptune</h2>
              <p class="mt-1 text-secondary-light">$12.00</p>
            </div>
          </div>
          <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a class="block relative h-48 rounded overflow-hidden">
              <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/423x263">
            </a>
            <div class="mt-4">
              <h2 class="text-secondary title-font text-lg font-medium">The 400 Blows</h2>
              <p class="mt-1 text-secondary-light">$18.40</p>
            </div>
          </div>
      </div>
    </div>
  </section>
