/* You can add global styles to this file, and also import other style files */
@import url('./vars-main.css');
@import "tailwindcss";


.bg-primary{
    background-color: var(--primary);
}
.bg-primary-light{
    background-color: var(--primary-light);
}
.bg-secondary{
    background-color: var(--secondary);
}
.bg-secondary-light{
    background-color: var(--secondary-light);
}
.bg-tertiary{
    background-color: var(--tertiary);
}
.bg-principal{
    background-color: var(--primary-extra-extrallight);
}
.text-primary{
    color: var(--primary);
}
.text-primary-light{
    color: var(--primary-light);
}
.text-primary-dark{
    color: var(--primary-dark);
}
.text-secondary{
    color: var(--secondary);
}
.text-secondary-light{
    color: var(--secondary-light);
}
.text-tertiary{
    color: var(--tertiary);
}
.text-tertiary-dark{
    color: var(--tertiary-dark);
}
.border-primary{
    border-color: var(--primary);
}
.border-primary-light{
    border-color: var(--primary-light);
}
.border-secondary{
    border-color: var(--secondary);
}
.bg-card{
    background-color: #f7f7f7;
}